body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    background-color: #8ec1dd;
}

.image-container {
    position: relative;
    width: 50%; 
    height: 100vh;
    margin-left: 50%; }

.image-container a {
    position: absolute;
    display: block;
    transition: transform 0.3s ease;
}

.image-container img {
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-container a:hover img {
    transform: scale(1.2); 
}


.image-container a:nth-child(1) {
    top: 2%;
    right: 20%;
}
.image-container a:nth-child(1) img {
    width: 400px; 
}

.image-container a:nth-child(2) {
    top: 42%;
    right:10%;
}
.image-container a:nth-child(2) img {
    width: 280px; 
}

.image-container a:nth-child(3) {
    top: 50%;
    right: 63%;
}
.image-container a:nth-child(3) img {
    width: 300px; 
}

.image-container a:nth-child(4) {
    top: 6%;
    right: 120%;
}
.image-container a:nth-child(4) img {
    width: 340px; 
}

.image-container a:nth-child(5) {
    top: 73%;
    right: 36%;

}
.image-container a:nth-child(5) img {
    width: 220px; 
}

.image-container a:nth-child(6) {
    top: 14%;
    right: 82%;
}
.image-container a:nth-child(6) img {
    width: 290px; 
}

.image-container a:nth-child(7) {
    top: 35%;
    right:123%;
}
.image-container a:nth-child(7) img {
    width: 350px; 
}

.image-container a:nth-child(8) {
    top: 67%;
    right: 160%;
}
.image-container a:nth-child(8) img {
    width: 310px; 
}

.image-container a:nth-child(9) {
    top: 19%;
    right: 160%;
}
.image-container a:nth-child(9) img {
    width: 270px; 
}

.image-container a:nth-child(10) {
    top: 73%;
    right: 110%;

}
.image-container a:nth-child(10) img {
    width: 250px; 
}